@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    /* background-image: url("https://uploaddeimagens.com.br/images/004/381/002/original/Background-image.jpg?1678238893"); */
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, rgb(140, 177, 207), rgb(192, 206, 212));
    margin: auto;
    padding: auto;
    
}
.cabecalho{
    display: flex;
    padding: 1% 0 0 2%;
    display: flex;
    align-items: center;
    border-radius: 0 0 10px 10px;
    background: rgba(0, 0, 0, 0.1);
    
}
.cabecalho-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 4px;
    /* gap: 1300px; */
    gap: 15px;
    
}

.cabecalho-menu-titulo{
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    
}
.cabecalho-menu-titulo-ancora{
    color: black;
    /* text-decoration: none; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;

}
.cabecalho-menu-titulo-ancora:hover{
    border-radius: 5rem;
    padding: 1 px;
    background-color: rgba(0, 0, 0, 0.1);
}

.cabecalho-menu-about{
    display: flex;
    font-size: 2rem;
    margin: 15px;
}
.container-lista-conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 1rem;
    gap: 1px;
}
.container-lista-conteudo-titulo{
    /* background: white; */
    border-radius: 10px;
    padding: 0 440px 0 440px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 10px;
    
}
.container-lista-bloco{
    display: flex;
    justify-content: space-evenly;
    flex-direction:inherit;
    /* align-items:center; */
    /* width: 100%; */
    flex-wrap: wrap;
    gap: 120px;
    border: #bfd5e9 1px;
}

.container-lista-bloco-titulo{
    color: black;
    text-decoration: none;
    font-family: 'Krona One', sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: center;
    padding: 49px;
}
.container-lista-conteudo-texto{
    display: flex;
    align-items: center;    
    color: black;
    font-family: 'Krona One', sans-serif;
    font-weight: 100;
    font-size: 19px;
    width: 895px;
    word-wrap: break-word;
    text-align:justify;
    text-decoration: none;
    padding-top: 11px;
}
.container-lista-conteudo-texto-about{
    /* text-decoration: none; */
    color: #14528b;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 23px;
    margin-bottom: 11px;
    margin-top: 10px;
}
.container-lista-conteudo-texto-about:hover{
    border-radius:10px; 
    /* background-color: #d8dfe6; */
    background-color: rgba(0, 0, 0, 0.1);
}

.container-imagem{
    width: 699px 330px;
    border-radius: 10px;
}
.container-imagem:hover{
    -moz-transform: scale(1.10);
	-webkit-transform: scale(1.10);
	transform: scale(1.03);
    border: 2px solid #497174;
}

.rodape-texto{
    background-color: #64a4e47a;
    padding: 10px;
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.0rem;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;

    border-radius: 2rem;
}
/* @media(max-width: 1280px){
    .container-lista-bloco{
        flex-direction: column;
        width: 300px;
    }
    .container-imagem{
        width: fit-content;
    }
} */

@media (max-width:400px) {
    body{
        
    }
    .cabecalho{
        /* display: flex; */
        /* padding: 1% 0 0 2%; */
        /* display: flex; */
        /* align-items: center; */
        /* border-radius: 0 0 10px 10px; */
        /* background: rgba(0, 0, 0, 0.1); */
        
    }
    .cabecalho-menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 4px;
        /* gap: 1300px; */
        /* gap: 15px; */
        
    }
    cabecalho-menu-titulo{
        font-size: 1000px;
        /* font-family: 'Montserrat', sans-serif; */
        /* font-weight: 200; */
        
    }
    .container-lista-conteudo-texto{
        display: flex;
        align-items: center;    
        color: black;
        font-family: 'Krona One', sans-serif;
        font-weight: 100;
        font-size: 12px;
        width: 400px;
        word-wrap: break-word;
        text-align:justify;
        text-decoration: none;
        padding-top: 11px;
    }
    img{
        width: 50%;
    }
}

